<div class="vertical-nav" id="sidebar">
    <div class="py-4 px-3 mb-4 custom-media-body">
        <div class="media d-flex align-items-center">
            <img src="https://miro.medium.com/max/700/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" alt="logo" width="40"
                height="40" class="mr-3 rounded-circle shadow-lg rounded">
            <div class="media-body">
                <h5 class="m-0 text-white fw-bold">{{ current_user.username }}</h5>
                <p class="fw-light text-muted mb-0">Devops Engineer</p>
            </div>
        </div>
    </div>

    <p class="text-gray fw-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>

    <ul class="nav flex-column mb-0">
        <li class="nav-item my-1 mx-3 rounded">
            <a href="{{ url_for('automation.automation') }}" class="nav-link custom-link {{ 'active' if page == 'automation' }}"><i class="fas fa-robot mr-3"></i>Automate</a>
        </li>
        <li class="nav-item my-1 mx-3 rounded">
            <a href="#" class="nav-link custom-link"><i class="fab fa-docker mr-3"></i>Docker</a>
        </li>
        <li class="nav-item my-1 mx-3 rounded">
            <a href="#" class="nav-link custom-link"><i class="fab fa-aws mr-3"></i>Infrastructure</a>
        </li>
        <li class="nav-item my-1 mx-3 rounded">
            <a href="#" class="nav-link custom-link"><i class="fas fa-magic mr-3"></i>Misc</a>
        </li>
        <li class="nav-item my-1 mx-3 rounded">
            <a id="settings" href="{{ url_for('settings.settings') }}" class="nav-link custom-link {{ 'active' if page == 'settings' }}"><i class="fas fa-cog mr-3"></i>Settings</a>
        </li>
        <li class="nav-item my-1 mx-3 rounded">
            <a id="settings"  href="{{ url_for('auth.logout') }}" class="nav-link custom-link"><i class="fas fa-sign-out-alt mr-3"></i>Log out</a>
        </li>
    </ul>

</div>