{% extends 'dashboard.html' %}

{% block head %}<meta http-equiv="refresh" content="10">{% endblock head %}

{% block title %}Uptime{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<h2 class="display-4 fw-bold">Overview</h2>

<form class="d-flex bd-highlight align-items-center" method=post>
    <div class="p-2 flex-grow-1 bd-highlight">
        {{ render_field(form.url) }}
    </div>
    <div class="p-2 bd-highlight"><button class="btn btn-primary fw-bold cutom-button" name="action" type="submit"
            value="save">Add <i class="fas fa-save ml-2"></i></button></div>
</form>

{% if websites != [] %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Site</th>
            <th scope="col">Average ping</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in websites %}
        <tr>
            <th scope="row">{{ item["website"] }}</th>
            <td>23.5 ms</td>
            {% if item["status"] == "up" %}  
            <td>
                <span class="badge rounded-pill bg-success">UP</span>
            </td>
            {% else %}
            <td>
                <span class="badge rounded-pill bg-danger">DOWN</span>
            </td>
            {% endif %}
            <td>
                <a class="btn btn-danger btn-sm custom-button" href="{{ url_for('uptime.remove', website=item['website'] ) }}"><i
                        class=" fas fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="row">
    <h2 class="display-6 text-center mt-5">No website added yet..</h2>
</div>
{% endif %}

{% endblock %}