{% extends 'dashboard.html' %}
{% block title %}Automation{% endblock %}

{% block content %}
<h2 class="display-4 fw-bold">Fill the details of your project</h2>

<div class="row g-4 mt-3">
    {% from "_formhelpers.html" import render_field %}
    <form class="row w-75" method=post>
        <div class="row">
            <table>
            <tr>
                <td colspan="2">{{ render_field(java_form.var_git_url) }} </td>
            </tr>
            <tr>
                <td>{{ render_field(java_form.var_git_branch_prod) }}</td>
                <td>{{ render_field(java_form.var_git_branch_dev) }}</td>
            </tr>
            <tr>
                <td>{{ render_field(java_form.var_project_name) }}</td>
                <td>{{ render_field(java_form.var_service_name) }}</td>
            </tr>
            <tr>
                <td>{{ render_field(java_form.var_system_port) }}</td>
                <td>{{ render_field(java_form.var_cont_port) }}</td>
            </tr>
            <tr>
                <td>{{ render_field(java_form.var_ssh_agent_name) }}</td>
                <td>{{ render_field(java_form.var_ip_addr) }}</td>
            </tr>
            <tr>
                <td>{{ render_field(java_form.var_jar_name) }}</td>
                <td>{{ render_field(java_form.var_max_memory) }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ render_field(java_form.checkbox) }}
                    {{ render_field(java_form.checkbox.label) }}
                </td>
            </tr>
            <tr>
                <td colspan="2">{{ render_field(java_form.var_jenkins_users) }}</td>
            </tr>
            <tr>
            </tr>
        </table>
        <div class="row">
            <div class="col d-flex p-0">
                <button class="btn btn-primary fw-bold cutom-button my-3" type="submit" value=Register>Automate <i class="fas fa-arrow-circle-right ml-2"></i></button>
            </div>
        </div>
    </div>
    </form>
</div>
{% endblock %}
